:root {
    /*
     * Variables with --color-base prefix define
     * the hue, and saturation values to be used for
     * hsla colors.
     *
     * ex:
     *
     * --color-base-{color}: {hue}, {saturation};
     *
     */

    --color-base-white: 0 0%;
    --color-base-black: 240 100%;
    --color-base-gray: 60 3%;

    /*
     * Color palettes are made using --color-base
     * variables, along with a lightness value to
     * define different variants.
     *
     */

    --color-gray-5: hsl(var(--color-base-gray) 5%);
    --color-gray-10: hsl(var(--color-base-gray) 10%);
    --color-gray-20: hsl(var(--color-base-gray) 20%);
    --color-gray-30: hsl(var(--color-base-gray) 30%);
    --color-gray-40: hsl(var(--color-base-gray) 40%);
    --color-gray-50: hsl(var(--color-base-gray) 50%);
    --color-gray-60: hsl(var(--color-base-gray) 60%);
    --color-gray-70: hsl(var(--color-base-gray) 70%);
    --color-gray-80: hsl(var(--color-base-gray) 80%);
    --color-gray-90: hsl(var(--color-base-gray) 90%);
    --color-gray-95: hsl(var(--color-base-gray) 95%);
    --color-gray-97: hsl(var(--color-base-gray) 97%);

    --content-spacing: clamp(16px, 16px + (100vw - 420px - 0px - 600px) / 424 * 8, 24px);
}

:root {
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

a {
    margin: 3px;
    color: var(--color-gray-5);
    width: fit-content;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 10px 10px 1em;
    font-size: 14px;
    line-height: 1.4;
}

section {
    display: inline-block;
    max-width: var(--column-width);
    margin: var(--gutter-width);
    text-align: left;
    vertical-align: top;
}

footer {
    margin: var(--gutter-width);
}

h1 {
    font-size: 1.8em;
    font-weight: 700;
}

table {
    width: 100%;
    margin: 10px 0;
}

th,
td,
textarea {
    margin-right: 5px;
    padding: 3px 6px;
}

th {
    width: 10%;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

textarea {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid var(--color-gray-70);
    border-radius: 1px;
    outline: none;
}

textarea:focus {
    border-color: var(--color-gray-50);
    box-shadow: 0 0 5px var(--color-gray-90);
}

textarea {
    width: 480px;
    height: 270px;
    font-size: 12px;
    vertical-align: bottom;
    resize: none;
}

button {
    cursor: pointer;
    margin: 3px;
    padding: 6px 12px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background-color: var(--color-gray-95);
}

button:focus {
    background-color: var(--color-gray-90);
}

button:hover {
    background-color: var(--color-gray-80);
}

button:active {
    background-color: var(--color-gray-70);
}