.app {
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.list-item:hover .hover-hidden, .list-item .hover-show  {
    display:none;
}

.list-item .hover-hidden, .list-item:hover .hover-show {
    display: inherit;
}

.interactive {
    cursor: pointer;
}

.item-index {
    text-align: right;
}

.item-thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 16px;
}

.item-display {
    display: flex;
    align-items: center;
}

.item-title, .item-author {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    text-decoration: none;
}

.item-author:hover, .item-title:hover {
    text-decoration: underline;
}

.player-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
}

.playlist-wrapper, .sessionList-wrapper {
    width: 100%;
    height: 49vh;
}

.list {
    scroll-behavior: smooth;
}

.list-item {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: min-content [last] minmax(120px, 1fr);
    padding: 0 var(--content-spacing);
    align-items: center;
    border-bottom: 1px solid var(--color-gray-80);
    user-select: none;
    -webkit-user-select: none;
}


.list-item:last-child {
    border-bottom: 0;
}

.list-item:focus {
    background-color: var(--color-gray-90);
}

.list-item:hover {
    background-color: var(--color-gray-80);
}


.react-player {
    background: var(--color-gray-90);
}

.play-button {
    margin: auto;
    display: block;
}