.app {
  margin: auto;
  font-weight: 300;
  text-align: center;
}

.list {
}

.playlist-index, .playlistList-index {
    position: absolute;
}

.playlist-url {

}

.player-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
}

.playlist-wrapper, .playlistList-wrapper {
    width: 100%;
    aspect-ratio: 4 / 5;
}

.playlist-item, .playlistList-item {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--color-gray-80);
    background-color: var(--color-gray-95)
}

.react-player {
  background: var(--color-gray-90);
}

.shuffle-button {
    text-align: center;
}